img {
    border-radius: 10px;    
}

.carousel div{
    margin: 20px ;
}


div.carousel-cell {
    margin: 0 10px;
}



/* ===============================================>> move page dots into carousel */
/* .flickity-page-dots { bottom: 10px; } */



/* ===============================================>> add the following code, when watchCSS property of flickity is set to true */

/* 
.carousel:after {
    content: 'flickity';
    display: none; /* hide :after 
  }
  
  @media screen and ( min-width: 992px ) {
     /* disable Flickity for large devices  
    .carousel:after {
      content: '';
    }
  } */

    .ttt {
        /* padding: 0px 1rem; */
    }

  @media (max-width: 576px) { 
    .ttt {
        width: 400px;
       
    }
    .ttt img {
        object-fit: 'fill';
        width: 100%;
        height: 100%;
    }
 }  
@media (min-width: 576px) { 
    .ttt {
        width: 360px;
       
    }
    .ttt img {
        object-fit: 'fill';
        width: 100%;
        height: 100%;
    }
 }
 @media (min-width: 768px) { 
    .ttt {
        width: 340px;
    }
    .ttt img {
        object-fit: 'cover';
        width: 100%;
        height: 100%;
    }
 }
 @media (min-width: 992px) { 
    .ttt {
        width: 320px;
        /* border: 5px solid red;
        margin: 100px; */
    }
    .ttt img {
        object-fit: 'cover';
        width: 100%;
        height: 100%;
    }
 }
 @media (min-width: 1200px) { 
    .ttt {
        width: 380px;
    }
    .ttt img {
        object-fit: 'cover';
        width: 100%;
        height: 100%;
    }
 }
 @media (min-width: 1500px) { 
    .ttt {
        width: 426px;
    }
    .ttt img {
        object-fit: 'cover';
        width: 100%;
        height: 100%;
    }
 }





 /*------------------------------------------------------------*/

 .mmm {
    /* padding: 0px 1rem; */
    padding: 0 10px;
    position: relative;
}

@media (max-width: 576px) { 
.mmm {
    width: 205px;
   
}
.mmm img {
    object-fit: 'fill';
    width: 100%;
    height: 100%;
}
}  
@media (min-width: 576px) { 
.mmm {
    width: 200px;
   
}
.mmm img {
    object-fit: 'fill';
    width: 100%;
    height: 100%;
}
}
@media (min-width: 768px) { 
.mmm {
    width: 190px;
}
.mmm img {
    object-fit: 'cover';
    width: 100%;
    height: 100%;
}
}
@media (min-width: 992px) { 
.mmm {
    width: 185px;
    /* border: 5px solid red;
    margin: 100px; */
}
.mmm img {
    object-fit: 'cover';
    width: 100%;
    height: 100%;
}
}
@media (min-width: 1200px) { 
.mmm {
    width: 180px;
}
.mmm img {
    object-fit: 'cover';
    width: 100%;
    height: 100%;
}
}
@media (min-width: 1500px) { 
.mmm {
    width: 176px;
}
.mmm img {
    object-fit: 'cover';
    width: 100%;
    height: 100%;
}
}

